.divindice {
  background-color: white;
  width: 100%;
  align-items: center;
  height: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 15px;
}
.indice {
  color: white;
  height: 2.5rem;
  margin-bottom: 0px;
  align-items: center;
}
.alert {
  margin-bottom: 10px;
  height: 45px;
}
.divusuario {
  margin-left: 1rem;
}
footer {
  background-color: white;
  height: 4rem;
  width: 100%;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}
ul#listafooter li {
  margin-left: 1rem;
  display: inline;
}
ul {
  margin: 0px, 0px, 0px, 0px;
  padding: 0px, 0px, 0px, 0px;
}

.divlistafooter {
  align-items: center;
  padding-top: 1rem;
}
.logosfooter {
  margin-left: 0.5rem;
}
#divlogos {
  padding-left: 50px;
  padding-right: 0px;
}
.coldelete {
  margin-left: 1rem;
}
