.cajaresultado {
  width: 100%;
  border: solid black;
  margin-bottom: 0.5rem;
}
footer {
  background-color: white;
  height: 4rem;
  width: 100%;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}
ul#listafooter li {
  margin-left: 1rem;
  display: inline;
}
ul {
  margin: 0px, 0px, 0px, 0px;
  padding: 0px, 0px, 0px, 0px;
}

.divlistafooter {
  align-items: center;
  padding-top: 1rem;
}
.logosfooter {
  margin-left: 0.5rem;
}
#divlogos {
  padding-left: 50px;
  padding-right: 0px;
}
