body {
  padding-left: 0px;
  padding-right: 0px;
}
#encabezado {
  background-color: rgb(209, 209, 209);
}
.cajacursosyeventos {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 4rem;
  margin-bottom: 0rem;
  width: 36rem;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 17px;
}
#caja {
  margin-right: 0px;
}
.divindice {
  background-color: white;
  width: 100%;
  align-items: center;
  height: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 15px;
}
.divfondo {
  background-color: darkslategrey;
}
.indice {
  color: white;
  height: 2.5rem;
  margin-bottom: 0px;
  align-items: center;
}
.divcursos {
  margin-top: 3rem;
  width: 100%;
}
.campofiltro {
  margin-bottom: 1.5rem;
}
.cajacountry {
  border: 1px solid #ced4da;
  margin-bottom: 1.5rem;
}
footer {
  background-color: rgb(209, 209, 209);
  height: 4rem;
  width: 100%;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}
ul#listafooter li {
  margin-left: 1rem;
  display: inline;
}
ul {
  margin: 0px, 0px, 0px, 0px;
  padding: 0px, 0px, 0px, 0px;
}

.divlistafooter {
  align-items: center;
  padding-top: 1rem;
}
.logosfooter {
  margin-left: 0.5rem;
}
#divlogos {
  padding-left: 50px;
  padding-right: 0px;
}
.calendario {
  background-color: white;
  margin-right: 4rem;
  margin-top: 1rem;
  width: 450px;
  height: 255px;
  border: 3px solid grey;
  padding: 12px;
  margin-left: 10rem;
}

.filtro {
  right: 0px;
  width: 350px;
  height: 27rem;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 14px;
  padding-top: 14px;
  margin-bottom: 1.5rem;
  margin-right: 4rem;
  margin-left: 15rem;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
