.imagen{
    height:100px;
}
.parrafo{
    font-size:5rem;
}
.image{
    width:100rem;
    height:50rem;
    display:block;
    margin:auto;
}
.parrafo2{
    font-size:2rem;
}
#formulario{
    width:100rem;
    height:18rem;
    align-items:center;
}
.asunto{
    width:98rem;
    height:2rem;
}
.asunto2{
    width:98rem;
    height:10rem;
}
footer{
    padding-left:2px;
}