#divfoto {
  height: 10rem;
  background-image: url("https://i.blogs.es/4ce22f/vw-logo/450_1000.jpg");
  background-position: center; /* Center the image */
}
#divborrar {
  background-color: white;
  height: 3rem;
  margin-top: 1rem;
  text-align: center;
}
#divguardarcambios {
  background-color: white;
  height: 3rem;
  margin-top: 1rem;
  text-align: center;
  padding-top: 0.75rem;
}
body {
  background-color: cadetblue;
}

#divusuario {
  background-color: white;
  height: 5rem;
  text-align: center;
}
#divinfoperfil {
  background-color: white;
  height: 25rem;
  margin-top: 1rem;
}
.divindice {
  background-color: white;
  width: 100%;
  align-items: center;
  height: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 15px;
}
footer {
  background-color: white;
  height: 4rem;
  width: 100%;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1rem;
}
ul#listafooter li {
  margin-left: 1rem;
  display: inline;
}
ul {
  margin: 0px, 0px, 0px, 0px;
  padding: 0px, 0px, 0px, 0px;
}

.divlistafooter {
  align-items: center;
  padding-top: 1rem;
}
.logosfooter {
  margin-left: 0.5rem;
}
#divlogos {
  padding-left: 50px;
  padding-right: 0px;
}
