.divcajasnoticias {
  background-color: cornflowerblue;
}
.cajasnoticias {
  max-width: 26rem;
  height: 26rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 3rem;
  margin-bottom: 1.5rem;
}

.campofiltro {
  margin-bottom: 1.5rem;
}
.cajacountry {
  border: 1px solid #ced4da;
  margin-bottom: 1.5rem;
}

.filtro {
  max-width: 122rem;
  height: 29rem;
  background-color: #fff;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 3rem;
  margin-bottom: 0rem;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
}
.cajasnoticiasabajo {
  margin-top: -1.5rem;
  max-width: 24rem;
  height: 26rem;
  flex-wrap: nowrap;
  margin-left: 1.5rem;
  margin-right: 3rem;
  margin-bottom: 1.5rem;
}
* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
