.imgnoticia {
  max-height: 13rem;
  max-width: 100%;
}
.cuerponoticia {
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}
.mapanavegación {
  margin-right: 2rem;
  margin-left: 2rem;
}
